<%= paginate @ruby_gems %>
<div class=image><%=image_tag "ruby1.png" %></div>
<% @ruby_gems.each do |ruby| %>
<div class="row">
<table width= "400">
  <tr>
    <td><%= link_to "Gem: #{ruby.name} / click for reviews", ruby_gem_path(ruby) %></td>
  </tr>
  <tr>
    <td>Added by <%= ruby.author %> </td>
  </tr>
  <tr>
    <td><%= ruby.description %></td>
  </tr>
  <tr>
    <td><%= ruby.github_url %></td>
  </tr>
</table>

<% if current_user.admin %>
<%= button_to "Delete Gem #{ruby.name}", admin_ruby_gem_path(ruby), :class => "button tiny", method: :delete %>
 <%end%>
</div>

<li><%= link_to ruby.name, ruby_gem_path(ruby) %> </li>
  <% if current_user && current_user.admin %>
    <%= link_to "Delete Gem #{ruby.name}", admin_ruby_gem_path(ruby), method: :delete %>
  <% end %>

<%end%>

