
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<div class="row">
<div class="image"><%=image_tag (image_path("ruby1.png")) %></div>
  <table width= "450">
    <tr>
      <td><h6><%= image_tag (image_path("ruby2.png")) %> <%= @ruby_gem.name %></h6></td>
    </tr>
    <tr>
      <td><%= "Added by #{@ruby_gem.author}" %></td>
    </tr>
    <tr>
      <td><%= @ruby_gem.description %></td>
    </tr>
    <tr>
      <td><%= @ruby_gem.github_url %></td>
    </tr>
  </table>


<%= paginate @reviews %>
<table width= "900">
  <thead>
    <th> User Reviews </th>
    <th> Date Submitted </th>
    <th> Net Votes </th>
    <th> Vote for Gem! </th>
</thead>

<% @reviews.each do |review|%>
  <tbody>
    <tr>
    <td><h6><%= link_to review.title, ruby_gem_review_path(@ruby_gem, review)%></h6></td>
    <td><%= review.created_at%></td>
    <td>Net: <%= review.calculate_votes %></td>
    
    <td><% if user_signed_in? %>
      <% if user_vote_on(current_user, review)%>
        <% if user_has_upvoted?(current_user, review)%>
        
        <%= button_to 'Down', {action: "update", controller: "votes", review_id: review.id, user_id: current_user.id, vote_type: "downvote"}, method: :put, :class => "button tiny" %>
        <% else%>
        <%= button_to 'Up', {action: "update", controller: "votes", review_id: review.id, user_id: current_user.id, vote_type: "upvote"}, method: :put, :class => "button tiny" %>
        <% end %>
      <% elsif current_user %>
        <%= button_to 'Up', {action: "create", controller: "votes", review_id: review.id, user_id: current_user.id, vote_type: "upvote"}, method: :post%><%= review.up_vote_count%>
        <%= button_to 'Down', {action: "create", controller: "votes", review_id: review.id, user_id: current_user.id, vote_type: "downvote"}, method: :post%><%= review.down_vote_count%>
      <%end%> 
    <%else%>
       Up:   <%= review.up_vote_count%>
       Down: <%= review.down_vote_count%>
    <%end%>
      </td>

      </tr>
    </tbody>
   <%end%>
 </table>
</div>
   <div align="center">
    <li><%= button_to 'Submit a Review', new_ruby_gem_review_path(@ruby_gem), :class => "button small", method: :get %></li>
   </div>



 
