<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<table>
  <tr>
    <td><%= "Gem name:   #{@ruby_gem.name}" %></td>
  </tr>
  <tr>
    <td><%= "Author:     #{@ruby_gem.author}" %></td>
  </tr>
  <tr>
    <td><%= "Description: #{@ruby_gem.description}" %></td>
  </tr>
  <tr>
    <td><%= "Github URL: #{@ruby_gem.github_url}" %></td>
  </tr>
</table>
