<%- if @users.present? -%>
  <table>
    <%- @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.remember_created_at %></td>
        <td><%= user.admin %></td>
        <td><%= link_to "Delete User #{user.email}", admin_user_path(user), method: :delete %></td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>
