
<div class=image><%=image_tag (image_path("ruby1.png")) %></div>

<div class="row">
<h2 class="header">Ruby gem reviews</h2>
<%= paginate @reviews %>
  <% @reviews.each do |review| %>
  <table width="400">
    <tr>
    <td><%= review.title%></td>
    </tr>
    <tr>
    <td><%= review.body%></td>
    </tr>
    <tr>
    <td>Rating: <%= review.rating%></td>
    </tr>
  </table>


<% if current_user.admin %>
    <%= button_to "Delete Review #{review.title}", admin_review_path(review), :class => "button small", method: :delete %>
  <%end%> 
 <%end%>
 </div>

