
<div class=image><%=image_tag "ruby1.png" %></div>

<div class="row">
<table width= "400">
<tr>
</td><h3><%= @review.title%></h3></td>
</tr>
<tr>
<td><%= @review.body%></td>
</tr>
<tr>
<td><h6>Rating: <%= @review.rating%></h6></td>
</tr>
</table>


  <% if user_signed_in? %>
    <%if current_user == @review.user%>
        <td><%= button_to 'Edit Review', edit_ruby_gem_review_path(@ruby_gem, @review), :class => "button tiny", method: :get %></td>
      <%end%>
    <%end%>
  </div>
    

