<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <%= render 'layouts/messages'%>
        <% if user_signed_in? %>
          <%= "Welcome #{current_user.first_name}"%>
         <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
